src/AppBundle/Tests/Data/dummy.wsdl

<?xml version="1.0" ?>
<wsdl:definitions name="CounterReportsServiceImplService"
                  targetNamespace="http://reports.ws.lockss.org/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://reports.ws.lockss.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<wsdl:types>
  <xs:schema attributeFormDefault="unqualified"
             elementFormDefault="unqualified"
             targetNamespace="http://reports.ws.lockss.org/"
             xmlns:tns="http://reports.ws.lockss.org/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="getCounterReport" type="tns:getCounterReport"></xs:element>
    <xs:element name="getCounterReportResponse" type="tns:getCounterReportResponse"></xs:element>
    <xs:complexType name="getCounterReport">
      <xs:sequence>
        <xs:element minOccurs="0" name="reportParams" type="tns:counterReportParams"></xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="counterReportParams">
      <xs:sequence>
        <xs:element minOccurs="0" name="endMonth" type="xs:int"></xs:element>
        <xs:element minOccurs="0" name="endYear" type="xs:int"></xs:element>
        <xs:element minOccurs="0" name="format" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="id" type="xs:string"></xs:element>
        <xs:element minOccurs="0" name="startMonth" type="xs:int"></xs:element>
        <xs:element minOccurs="0" name="startYear" type="xs:int"></xs:element>
        <xs:element minOccurs="0" name="type" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCounterReportResponse">
      <xs:sequence>
        <xs:element minOccurs="0" name="return" type="tns:counterReportResult"></xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="counterReportResult">
      <xs:sequence>
        <xs:element minOccurs="0" name="dataHandler" type="xs:base64Binary"></xs:element>
        <xs:element minOccurs="0" name="fileName" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="lockssWebServicesFaultInfo">
      <xs:sequence>
        <xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:element name="LockssWebServicesFault" nillable="true" type="tns:lockssWebServicesFaultInfo"></xs:element>
  </xs:schema>
</wsdl:types>
<wsdl:message name="getCounterReport">
  <wsdl:part element="tns:getCounterReport" name="parameters">
  </wsdl:part>
</wsdl:message>
<wsdl:message name="LockssWebServicesFault">
  <wsdl:part element="tns:LockssWebServicesFault" name="LockssWebServicesFault">
  </wsdl:part>
</wsdl:message>
<wsdl:message name="getCounterReportResponse">
  <wsdl:part element="tns:getCounterReportResponse" name="parameters">
  </wsdl:part>
</wsdl:message>
<wsdl:portType name="CounterReportsService">
  <wsdl:operation name="getCounterReport">
    <wsdl:input message="tns:getCounterReport" name="getCounterReport">
    </wsdl:input>
    <wsdl:output message="tns:getCounterReportResponse" name="getCounterReportResponse">
    </wsdl:output>
    <wsdl:fault message="tns:LockssWebServicesFault" name="LockssWebServicesFault">
    </wsdl:fault>
  </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CounterReportsServiceImplServiceSoapBinding" type="tns:CounterReportsService">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
  <wsdl:operation name="getCounterReport">
    <soap:operation soapAction="" style="document"></soap:operation>
    <wsdl:input name="getCounterReport">
      <soap:body use="literal"></soap:body>
    </wsdl:input>
    <wsdl:output name="getCounterReportResponse">
      <soap:body use="literal"></soap:body>
    </wsdl:output>
    <wsdl:fault name="LockssWebServicesFault">
      <soap:fault name="LockssWebServicesFault" use="literal"></soap:fault>
    </wsdl:fault>
  </wsdl:operation>
</wsdl:binding>
<wsdl:service name="CounterReportsServiceImplService">
  <wsdl:port binding="tns:CounterReportsServiceImplServiceSoapBinding" name="CounterReportsServiceImplPort">
    <soap:address location="http://localhost:8081/ws/CounterReportsService"></soap:address>
  </wsdl:port>
</wsdl:service>
</wsdl:definitions>
